version="5.6.8"

load("host.esp", "HOST")

tools = "CC=" + HOST.cc + " YACC='" + HOST.yacc + " -B' LLVM=1 LLVM_IAS=1"
source = fetch("https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-%s.tar.xz" % version)
exec("cd %s; sed 's/--defines=/-H /' -i scripts/Makefile.host" % source)
make(source, tools + " defconfig")

load("skeleton.esp", "SKELETON")
load("musl.esp", "MUSL")
load("devmapper.esp", "DEVMAPPER")
load("dash.esp", "DASH")
load("toybox.esp", "TOYBOX")
load("cacert.esp", "CACERT")
load("curl.esp", "CURL")
load("make.esp", "MAKE")
load("espbuild.esp", "ESPBUILD")

def getInit(dir):
  init = []
  files = find(dir)
  for file in files:
    baseFile = file.replace(dir, "")
    if baseFile != "":
      if (not isSymlink(file)) and isDir(file):
        init.append("dir %s 0755 0 0" % baseFile)
      else:
        if isSymlink(file):
          link = lstat(file)
          init.append("slink %s %s 0777 0 0" % (baseFile, link))
        else:
          init.append("file %s %s 0755 0 0" % (baseFile, file))

  return init

def getInitRamFS():
  init = []
  init.append("dir /bin 0755 0 0")
  init.append("dir /dev 0755 0 0")
  init.append("dir /etc 0755 0 0")
  init.append("dir /proc 0755 0 0")
  init.append("dir /root 0700 0 0")
  init.append("dir /run 0755 0 0")
  init.append("dir /sbin 0755 0 0")
  init.append("dir /sys 0755 0 0")
  init.append("dir /tmp 0755 0 0")
  init.append("slink /usr / 0777 0 0")
  init.append("dir /var 0755 0 0")
  init.append("dir /var/log 0755 0 0")
  init.append("slink /var/run /run 0777 0 0")
  init.append("dir /var/tmp 0755 0 0")
  init.append("nod /dev/console 0600 0 0 c 5 1")

  init += getInit(SKELETON.out)

  init += getInit(TOYBOX.out)
  init.append("slink /init /sbin/init 0777 0 0")

  init += getInit(DASH.out)
  init += getInit(CACERT.out)
  init += getInit(CURL.out)
  init += getInit(MUSL.out)
  init += getInit(DEVMAPPER.out)
  init += getInit(MAKE.out)
  init += getInit(ESPBUILD.out)

  return init

init = "\n".join(getInitRamFS())
shell("cd %s; printf '%s' >> initramfs" % (source, init))
initramfs = source + "/initramfs"

exec("cd %s; sed 's@CONFIG_INITRAMFS_SOURCE=\"\"@CONFIG_INITRAMFS_SOURCE=\"%s\"@' -i .config" % (source, initramfs))
exec("cd %s; sed 's@# CONFIG_IGB is not set@CONFIG_IGB=y@' -i .config" % source)
exec("cd %s; sed 's@# CONFIG_UEVENT_HELPER is not set@CONFIG_UEVENT_HELPER=y@' -i .config" % source)

make(source, "-j" + NPROC + " " + tools)
