version="5.6.8"

load("host.esp", "HOST")

tools = "CC=" + HOST.cc + " YACC='" + HOST.yacc + " -B' LLVM=1 LLVM_IAS=1"
source = fetch("https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-%s.tar.xz" % version)
exec("cd %s; sed 's/--defines=/-H /' -i scripts/Makefile.host" % source)
make(source, tools + " defconfig")

load("dash.esp", "DASH")
load("toybox.esp", "TOYBOX")
load("nvi.esp", "NVI")

def getInitRamFS():
  init = []
  init.append("dir /bin 0755 0 0")
  init.append("dir /dev 0755 0 0")
  init.append("dir /etc 0755 0 0")
  init.append("dir /proc 0755 0 0")
  init.append("dir /root 0700 0 0")
  init.append("dir /run 0755 0 0")
  init.append("dir /sbin 0755 0 0")
  init.append("dir /sys 0755 0 0")
  init.append("dir /tmp 0755 0 0")
  init.append("slink /usr / 0777 0 0")
  init.append("dir /var 0755 0 0")
  init.append("dir /var/log 0755 0 0")
  init.append("slink /var/run /run 0777 0 0")
  init.append("dir /var/tmp 0755 0 0")
  init.append("nod /dev/console 0644 0 0 c 5 1")
  init.append("file /bin/dash %s/bin/dash 0755 0 0" % DASH.out)
  init.append("slink /bin/sh /bin/dash 0777 0 0")
  init.append("file /bin/toybox %s/bin/toybox 0755 0 0" % TOYBOX.out)
  init.append("slink /init /sbin/init 0777 0 0")
  init.append("file /etc/passwd %s 0755 0 0" % path("skeleton/passwd"))
  init.append("file /etc/group %s 0755 0 0" % path("skeleton/group"))
  init.append("file /etc/hostname %s 0755 0 0" % path("skeleton/hostname"))
  init.append("file /etc/inittab %s 0755 0 0" % path("skeleton/inittab"))
  init.append("file /etc/resolv.conf %s 0755 0 0" % path("skeleton/resolv.conf"))
  init.append("file /bin/dhcp-events %s 0755 0 0" % path("skeleton/dhcp-events"))
  init.append("file /sbin/netsetup %s 0755 0 0" % path("skeleton/netsetup"))
  init.append("file /bin/vi %s/bin/vi 0755 0 0" % NVI.out)

  toyboxFiles = find(TOYBOX.out)
  for toyboxFile in toyboxFiles:
    file = toyboxFile.replace(TOYBOX.out, "")
    if not contains(["", "/bin", "/bin/toybox", "/sbin"], file):
      init.append("slink %s /bin/toybox 0777 0 0" % file)

  return init

init = "\n".join(getInitRamFS())
shell("cd %s; printf '%s' >> initramfs" % (source, init))
initramfs = source + "/initramfs"

exec("cd %s; sed 's@CONFIG_INITRAMFS_SOURCE=\"\"@CONFIG_INITRAMFS_SOURCE=\"%s\"@' -i .config" % (source, initramfs))
exec("cd %s; sed 's@# CONFIG_IGB is not set@CONFIG_IGB=y@' -i .config" % source)

make(source, "-j" + NPROC + " " + tools)
